{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Joi Secure Pass{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'accounts/css/base_styles.css' %}">
</head>
<body>
    <header>
        <h1>Joi Secure Pass</h1>
        <nav>
            <ul>
                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                <li><a href="{% url 'register' %}">Registrar</a></li>
                <!-- Añadir más enlaces si es necesario -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Joi Secure Pass. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
