{% extends 'accounts/base.html' %}

{% block content %}
    <div class="landing-container">
        {% comment %} <img src="{% static 'images/bladerunner_background.jpg' %}" alt="Background Image" class="background-image"> {% endcomment %}
        <div class="welcome-message">
            <h2>Bienvenido a JoiSecurePass</h2>
            <a href="{% url 'login' %}" class="button">Iniciar sesión</a>
            <a href="{% url 'register' %}" class="button">Registrar</a>
        </div>
    </div>
{% endblock %}
