{% extends 'accounts/base.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'accounts/css/register_styles.css' %}">

<div class="register-container">
    <h2 class="register-title">Registrar nuevo usuario</h2>
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        
        {{ address_formset.management_form }}
        {% for form in address_formset %}
            {{ form.as_p }}
        {% endfor %}
        
        {{ phone_formset.management_form }}
        {% for form in phone_formset %}
            {{ form.as_p }}
        {% endfor %}
        
        <button type="submit">Registrar</button>
    </form>
</div>
{% endblock %}
