body {
    font-family: 'Orbitron', sans-serif; 
    background-color: #0c0c0c; 
    color: #f0f0f0; 
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Exo 2', sans-serif; 
    color: #00bcd4; 
    text-transform: uppercase;
    letter-spacing: 2px;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: auto; */
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 10px 20px;
    box-sizing: border-box; /* Add box-sizing */
    flex-wrap: nowrap;
    border-bottom: 1px solid #1a1a1a; /* Optional slightly cleaner look */
    backdrop-filter: blur(8px); /* Add a slight blur effect */
}

.header-banner img {
    max-width: 70%; 
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end; 
}

nav ul li {
    margin-left: 40px; 
}

nav ul li a {
    margin-right: 40px;
    color: #00bcd4; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    white-space: nowrap;
    font-size: 16px;
}

nav ul li a:hover {
    color: #ff4081; 
}

main { 
    min-height: calc(100vh - 120px); 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto; /* Changed to auto so content is scrollable if it overflows */
    padding-top: 120px; /* Accounts for fixed header */
    padding-bottom: 60px; /* Accounts for fixed footer */
    box-sizing: border-box; /* Includes padding in height calculation */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100; 
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #1a1a1a;
    backdrop-filter: blur(8px);
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

